[build]
  base = "."
  command = "npm run build:inventory"
  publish = "apps/inventory/dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  NPM_FLAGS = "--legacy-peer-deps"
